<%- include('header') %>

<main>
 <h1>Logga in</h1>
  <form action="/login" method="POST">
   <label for="username">Användarnamn:</label>
   <input type="text" id="username" name="username" required />

   <label for="password">Lösenord:</label>
   <input type="password" id="password" name="password" required />

  <button type="submit">Logga in</button>
 </form>
</main>

<!-- Lägg till en knapp för att logga in via GitHub -->
  <div style="margin-top: 20px;">
    <p>Eller</p>
    <a href="/auth/github" class="github-auth-button">Logga in med GitHub</a>
  </div>
</main>

<%- include('footer') %>
