/* Reset CSS to remove default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Laila, sans-serif;
  background-color: #f8f8f8;
  text-align: center;
  /* Centrera all text på sidan */
}

/* Header styling */
header {
  background-color: #e91e63;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

/* Styling av huvudinnehåll */
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0d4e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-style: solid;
  border-color: #e91e63;
  /* Återställ text-align för huvudinnehåll till vänster */
}

/* Styling för hälsningsfras och länkar */
h1,
h2,
p,
a {
  color: #333;
}

a {
  text-decoration: none;
  color: #e91e63;
  font-weight: 600;
  /* Rosa färg för länkar */
}

/* Styling för listan med blogginlägg */
ul {
  list-style: none;
  margin-top: 20px;
}

li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

/* Styling för texten i det övre högra hörnet med användarnamnet */
p[style="position: absolute; top: 0; right: 0"] {
  color: #2d2424;
}

/* Styling för footer längst ner på sidan*/
footer {
  text-align: center;
  padding: 1em 0;
  background-color: #e91e63;
  /* Rosa färg för footer */
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}